In [1]:
pwd

'E:\\Geethanjaliexternship'

# Variables

In [2]:
a=10

In [3]:
print(a)

10

In [4]:
a,b,c=10,20,30

In [5]:
print(a)
print(b)
print(c)

10
20
30

In [6]:
my_name = "Mounika"

In [7]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [8]:
print(a,b,c)

10 20 30

In [9]:
print("a:",a,"b:",b,"c:",c)

a: 10 b: 20 c: 30

# Datatypes

In [10]:
a=10
b=20.5
c="hello"

In [11]:
type(a)

int

In [12]:
type(b)

float

In [13]:
type(c)

str

In [14]:
string = '123456'

In [15]:
integer = int(string)

In [16]:
x = 0

In [17]:
type(x)

int

In [18]:
string = "hey hai i am mounika 7897"

In [19]:
string[22]

'8'

In [20]:
string[8]

'i'

In [21]:
string[8:]

'i am mounika 7897'

In [22]:
string[:8]

'hey hai '

In [23]:
string[4:13]

'hai i am '

# String functions Assignment-1

In [24]:
dir(string) #string functions

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [25]:
string

'hey hai i am mounika 7897'

In [26]:
string.capitalize() #capitalizes the first letter

'Hey hai i am mounika 7897'

In [27]:
string.casefold() #displays the string in lower case

'hey hai i am mounika 7897'

In [28]:
st = "MOUNIKA"

In [29]:
st.casefold() #displays the string in lower case

'mounika'

In [30]:
string.center(30,'*')

'**hey hai i am mounika 7897***'

In [31]:
string.center(50,'*') #displays string in center from the given point

'************hey hai i am mounika 7897*************'

In [32]:
string.endswith('a') #displays true if sting ends with a otherwise displays false

False

In [33]:
string.count('i') #counts the no.of times i in a string

3

In [34]:
string.find("mounika") #finds the given string and displays the index value of the given string

13

In [35]:
string.index("a") #gives the index value of a of first occurance

5

In [36]:
string.replace("7897","12345") #replaces the old value with the new value

'hey hai i am mounika 12345'

In [37]:
str = "abc\texpandtabs\tfunction"

In [38]:
str.expandtabs() # gives the tab spaces

'abc     expandtabs      function'

In [39]:
string.split() #splits the string into a list item

['hey', 'hai', 'i', 'am', 'mounika', '7897']

In [40]:
string1="this is a string\nthis is string1"

In [41]:
string1.splitlines() #splits the sting into a list where each line is list item

['this is a string', 'this is string1']

In [42]:
string.startswith("hey") #displays true if string starts with hey otherwise displays false

True

In [43]:
string.upper() #displays whole string in uppercase

'HEY HAI I AM MOUNIKA 7897'

In [44]:
string2 = "this is my first class"

In [45]:
string2.title() #makes first letter in each word uppercase

'This Is My First Class'

In [46]:
st1 = "50"

In [47]:
st1.zfill(10) #fills 10 zeroes before the string

'0000000050'

In [48]:
tuple = (1,2,"john","smartbridge")

In [49]:
tuple[3]

'smartbridge'

In [50]:
tuple[1:3]

(2, 'john')

In [51]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [52]:
tuple.count(1)

1

In [53]:
tuple.index("smartbridge")

3

In [54]:
list=["Mounika",508,98]

In [55]:
list.append(98.0)

In [56]:
list.remove(508)

In [57]:
list1 = list.copy()

In [58]:
print(list)

['Mounika', 98, 98.0]

In [59]:
print(list1)

['Mounika', 98, 98.0]

In [60]:
#dict = {"key":"value","key":"value","key":"value"}
d = {"name":"mounika","age":18,"qualification":"btech"}

In [61]:
d["qualification"]

'btech'

In [62]:
d["name"]

'mounika'

In [63]:
d["age"]

18

In [64]:
d["name"]="sravani"

In [65]:
d

{'name': 'sravani', 'age': 18, 'qualification': 'btech'}

In [66]:
print(d)

{'name': 'sravani', 'age': 18, 'qualification': 'btech'}

In [67]:
dir(d)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [68]:
d

{'name': 'sravani', 'age': 18, 'qualification': 'btech'}

In [69]:
d.clear()

In [70]:
d

{}

In [71]:
d = {"empname":"mouni","empsal":"80000","experience":"smartbridge","designation":"smartbridge"}

In [72]:
d.get("empname")

'mouni'

In [73]:
d.items()

dict_items([('empname', 'mouni'), ('empsal', '80000'), ('experience', 'smartbridge'), ('designation', 'smartbridge')])

In [74]:
d.keys()

dict_keys(['empname', 'empsal', 'experience', 'designation'])

In [75]:
d.pop("designation")

'smartbridge'

In [76]:
d.popitem()

('experience', 'smartbridge')

In [77]:
d

{'empname': 'mouni', 'empsal': '80000'}

In [78]:
d = {"empname":"mouni",(1,2):[{"empsal":80000,"experience":6}],"designation":"smartbridge"}

In [79]:
d["age"] = 27

In [80]:
print(d)

{'empname': 'mouni', (1, 2): [{'empsal': 80000, 'experience': 6}], 'designation': 'smartbridge', 'age': 27}

In [81]:
my_set = {1,2,3,4,5} #integers

In [82]:
my_set = {1.0,"hello",(1,2,3)} #different datatypes

In [83]:
my_set = {1,3}

In [84]:
my_set.add(2)

In [85]:
my_set

{1, 2, 3}

In [86]:
my_set.update([2,3,4],{6,7,8})

In [87]:
my_set

{1, 2, 3, 4, 6, 7, 8}

In [88]:
my_set.remove(8)

In [89]:
my_set

{1, 2, 3, 4, 6, 7}

In [90]:
my_set.discard(3)

In [91]:
my_set

{1, 2, 4, 6, 7}

In [92]:
a = {1,2,3,4,5}
b = {6,7,8,9}
c = a.union(b)

In [93]:
c

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [94]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
c = a.difference(b)

In [95]:
c

{1, 2, 3}

In [96]:
a = {1,2,3,4,5}
b = {5,7,4,9}
c = a.intersection(b)

In [97]:
c

{4, 5}

# Task

In [98]:
 l = [1,2,[1,[2,[{"name":["pradeepthi","sahithi","ashwini"]}]]]] #nested list

In [99]:
l[2][1][1][0]["name"]

['pradeepthi', 'sahithi', 'ashwini']

In [100]:
l[0]

1

In [101]:
l[1]

2

In [102]:
l[2][0]

1

In [103]:
l[2][1]

[2, [{'name': ['pradeepthi', 'sahithi', 'ashwini']}]]

In [104]:
l[2][1][0]

2

In [105]:
l[2][1][1]

[{'name': ['pradeepthi', 'sahithi', 'ashwini']}]

In [106]:
l[2][1][1][0]

{'name': ['pradeepthi', 'sahithi', 'ashwini']}

In [107]:
l[2][1][1][0]["name"]

['pradeepthi', 'sahithi', 'ashwini']

In [108]:
l[2][1][1][0]["name"][0]

'pradeepthi'

In [109]:
l[2][1][1][0]["name"][1]

'sahithi'

In [110]:
l[2][1][1][0]["name"][2]

'ashwini'

# ConditionalStatements

In [111]:
a = int(input("enter a number"))
b = int(input("enter b"))

c = a+b
if(c>75):
    print("passed")

enter a number12
enter b23

In [112]:
c

35

# Loops

for varible in range/anysequence:
   body of forloop-statements

In [113]:
# print all the elements from 1 to 10 using for loop

In [114]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [115]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [116]:
for i in range(1,11): #even
    if(i%2 ==0):
        print(i)

2
4
6
8
10

In [117]:
string = "hello how are you"
count = 0
for i in string:
    if(i=="a"):
        count = count+1
        print(count)

1

In [118]:
for i in range(len(string)):
    print(string[i])

h
e
l
l
o

h
o
w

a
r
e

y
o
u

In [119]:
for i in range(20,31):
    print(i)

20
21
22
23
24
25
26
27
28
29
30

In [120]:
for i in range(30,40): #even
    if(i%2 ==0):
        print(i)

30
32
34
36
38

In [121]:
list = [1,2,3,4,5,6,7]
for i in list:
    print(i)

1
2
3
4
5
6
7

In [122]:
for i in range(1,len(string)):
    print(string[i])

e
l
l
o

h
o
w

a
r
e

y
o
u

i=0
while(condition){
    statements
    i++
}

In [123]:
i=0
while i<10 :
    print(i)
    i = i+1

0
1
2
3
4
5
6
7
8
9

In [124]:
for i in range(1,41):
    print("student no",i)
    if(i == 20):
        break
        print("only 20 members are allowed")

student no 1
student no 2
student no 3
student no 4
student no 5
student no 6
student no 7
student no 8
student no 9
student no 10
student no 11
student no 12
student no 13
student no 14
student no 15
student no 16
student no 17
student no 18
student no 19
student no 20

In [125]:
for i in range(1,41):
    print("student no",i)
    if(i == 20):
        print("only 20 members are allowed")

student no 1
student no 2
student no 3
student no 4
student no 5
student no 6
student no 7
student no 8
student no 9
student no 10
student no 11
student no 12
student no 13
student no 14
student no 15
student no 16
student no 17
student no 18
student no 19
student no 20
only 20 members are allowed
student no 21
student no 22
student no 23
student no 24
student no 25
student no 26
student no 27
student no 28
student no 29
student no 30
student no 31
student no 32
student no 33
student no 34
student no 35
student no 36
student no 37
student no 38
student no 39
student no 40

In [126]:
for i in range(1,41):
    if(i%2== 0):
        continue
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39

In [127]:
studentname = input("enter student name")
studentmarks = input("enter student marks")
print("details are entered in the database")

enter student name
enter student marks
details are entered in the database

In [128]:
studentname = input("enter student name")
studentmarks = input("enter student marks")
print("details are entered in the database")

enter student name
enter student marks
details are entered in the database

In [129]:
studentname = input("enter student name")
studentmarks = input("enter student marks")
print("details are entered in the database")

enter student name
enter student marks
details are entered in the database

In [130]:
def enterdetails():
    studentname = input("enter student name")
    studentmarks = input("enter student marks")
    print("details are entered in the database")

In [131]:
for i in range(1,6):
    enterdetails()

enter student name
enter student marks
details are entered in the database
enter student name
enter student marks
details are entered in the database
enter student name
enter student marks
details are entered in the database
enter student name
enter student marks
details are entered in the database
enter student name
enter student marks
details are entered in the database

In [132]:
def firstfunction(): #function without parameters
    print("hai this is my first function")

In [133]:
firstfunction()

hai this is my first function

In [134]:
def func(a,b): #function with parameters
    c = a+b
    d = a-b
    return c,d

In [135]:
func(9,10)

(19, -1)

In [136]:
func(20,67)

(87, -47)

In [137]:
d = func(5,6)
print(d)

(11, -1)

In [138]:
d,f = func(5,6)
print(d,f)

11 -1

In [139]:
def studentdetails():
    studentname = input("enter student name")
    m1 = input("enter marks in physics")
    m2 = input("enter marks in chemistry")
    m3 = input("enter marks in biology")
    return studentname,m1+m2+m3

In [140]:
for i in range(1,4):
    studentname,marks=studentdetails()
    print(studentname,marks)

enter student name
enter marks in physics
enter marks in chemistry
enter marks in biology

enter student name
enter marks in physics
enter marks in chemistry
enter marks in biology

enter student name
enter marks in physics
enter marks in chemistry
enter marks in biology

# Exception Handling

In [141]:
a = int(input("enter a number"))
b = int(input("enter a number"))
c= a/b
print(c)
print("bye")

enter a number

ValueError: invalid literal for int() with base 10: ''

In [142]:
a = int(input("enter a number"))
b = int(input("enter a number"))
try:
    c= a/b
except:
    print("cannot divide by zero")
print(c)
print("bye")

enter a number

ValueError: invalid literal for int() with base 10: ''

In [143]:
a = int(input("enter a number"))
b = int(input("enter a number"))
try:
    c= a/b
except Exception as e:
    print(e)
print(c)
print("bye")

enter a number

ValueError: invalid literal for int() with base 10: ''

In [144]:
try:
    a = int(input("enter a number"))
    b = int(input("enter a number"))
    c= a/b
except Exception as e:
    print(e)
print(c)
print("bye")

enter a number2
enter a number
invalid literal for int() with base 10: ''
35
bye

In [145]:
try:
    a = int(input("enter a number"))
    b = int(input("enter a number"))
except ValueError:
    print("you cannot give a character for integer number")
try:
     c= a/b
except ZeroDivisionError:
    print("cannot divide with zero")
print(c)
print("bye")

enter a number
you cannot give a character for integer number
0.08695652173913043
bye

In [146]:
print("fridge is open")
a = 10
b = 10
c=a/b
print(c)
print("fridge is closed")

fridge is open
1.0
fridge is closed

In [147]:
print("fridge is open")
a = 10
b = 10
try:
    c=a/b
except:
    print("cannot divide by zero")
finally:
    print("fridge is closed")
print(c)

fridge is open
fridge is closed
1.0